Yeni klasör/MyForm/MyFormm/Web References/localhost/MyWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HarikaToplayici">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="value2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HarikaToplayiciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HarikaToplayiciResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MuhtesemSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MuhtesemSilResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HarikaToplayiciSoapIn">
    <wsdl:part name="parameters" element="tns:HarikaToplayici" />
  </wsdl:message>
  <wsdl:message name="HarikaToplayiciSoapOut">
    <wsdl:part name="parameters" element="tns:HarikaToplayiciResponse" />
  </wsdl:message>
  <wsdl:message name="MuhtesemSilSoapIn">
    <wsdl:part name="parameters" element="tns:MuhtesemSil" />
  </wsdl:message>
  <wsdl:message name="MuhtesemSilSoapOut">
    <wsdl:part name="parameters" element="tns:MuhtesemSilResponse" />
  </wsdl:message>
  <wsdl:portType name="MyWebServiceSoap">
    <wsdl:operation name="HarikaToplayici">
      <wsdl:input message="tns:HarikaToplayiciSoapIn" />
      <wsdl:output message="tns:HarikaToplayiciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MuhtesemSil">
      <wsdl:input message="tns:MuhtesemSilSoapIn" />
      <wsdl:output message="tns:MuhtesemSilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWebServiceSoap" type="tns:MyWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HarikaToplayici">
      <soap:operation soapAction="http://tempuri.org/HarikaToplayici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuhtesemSil">
      <soap:operation soapAction="http://tempuri.org/MuhtesemSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWebServiceSoap12" type="tns:MyWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HarikaToplayici">
      <soap12:operation soapAction="http://tempuri.org/HarikaToplayici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuhtesemSil">
      <soap12:operation soapAction="http://tempuri.org/MuhtesemSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWebService">
    <wsdl:port name="MyWebServiceSoap" binding="tns:MyWebServiceSoap">
      <soap:address location="https://localhost:44379/MyWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWebServiceSoap12" binding="tns:MyWebServiceSoap12">
      <soap12:address location="https://localhost:44379/MyWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>